p {
  margin: 0;
}

.endpoint_operation {
  background-color: lavender;
  padding: 8px;
  width:100%;
}

.form_element_container {
  margin:8px;
}

.form_field {
  padding:8px;
}

.form_button {
  padding:8px;
  background: #474747;
  color:#fff;
  border-color:#474747;
}
